.add-todo-container{
  width: 100%;
  margin: auto;
  padding: 1em;
  position: fixed;
  background-color: gray;
  top: 0;
}
.add-todo-sub-container{
  width: 30%;
  margin: auto;
}

.input-todo{
  margin-right: 0.5em;
  width: 15em;
  height: 2em;
  border: 1px solid lightgray;
  outline: lightblue;
  border-radius: 0.3em;
}
.btn-todo{
  width: 10em;
  height: 2.3em;
  border: 1px solid gray;
  border-radius: 0.3em;
  cursor: pointer;
}
.main-container{
  width: 80%;
  margin: auto;
  margin-top: 2.5em;
  padding: 2em;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}
.sub-container{
  width: 30%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid lightgray;
  padding: 0.5em;
  text-align: center;
  border-radius: 0.5em;
}
.btn-action{
  cursor: pointer;
  margin-top: 0.5em;
  background-color: azure;
  border: 1px solid lightgray;
  padding: 0.5em;
  border-radius: 0.25em;
  margin: 1em 0.5em;
  width:10em;
}
.delete{
  padding: 0.5em 1.6em;
  
}
.title-status{
  font-weight: bold;
}
.empty-title{
  text-align: center;
}